*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,html{
   
    font-family:  Tahoma, sans-serif;
    /* padding-top: 60px;  */
}
section nav{
    background-color: black;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    position: fixed;
    width:100%;
   
    top:0;
}
/*  start fixed menu */
.fixed-menu{
    position: fixed;
    z-index: 9999;
    background-color: black;
    width: 250px;
    height: 100%;
    color: white;
    left: -250px; 
    top: 0;

}
.fixed-menu .fa-gear{
    color: white;
    position: absolute;
    right:  -50px;
    background-color: black;
    width: 50px;
    padding: 5px 0;

    text-align: center;
   border-radius: 2px;
   top: 10%;
}
.change-color li{
 display: inline-block;
 width: 35px;
 height: 35px;
 margin-top: 5px;
 cursor: pointer;

}
[data-color="blue"]{
    background-color: #0e3aff;
}
[data-color="red"]{
    background-color: #ff0e0e;
}
[data-color="orange"]{
    background-color: #728a1c;
}
[data-color="purble"]{
    background-color: #7f16a8;
}
[data-color="green"]{
    background-color: #3ad6eb;
}
/* changes color */

[data-default-color="blue"] .skin-color{
    color: #0e3aff;

}
[data-default-color="blue"] .skin-background{
    color: #dce3ff;
    background-color: #3d3aeb;

}
[data-default-color="red"] .skin-color{
    color: #ee0b57;

}
[data-default-color="red"] .skin-background{
    color: #dce3ff;
    background-color: #ee0b57;

}
[data-default-color="orange"] .skin-color{
    color: #728a1c;

}
[data-default-color="orange"] .skin-background{
    color: #dce3ff;
    background-color: #728a1c;

}
[data-default-color="purble"] .skin-color{
    color: #d733f8;

}
[data-default-color="red"] .skin-background{
    color: #dce3ff;
    background-color: red;

}
[data-default-color="green"] .skin-color{
    color: #33f84d;

}
[data-default-color="green"] .skin-background{
    color: #dce3ff;
    background-color: #24ce1e;

}
[data-default-color="purble"] .skin-color{
    color: #7f16a8;

}
[data-default-color="purble"] .skin-background{
    color: #dce3ff;
    background-color: #7f16a8;

}
[data-default-color="green"] .skin-color{
    color: #3ad6eb;

}
[data-default-color="green"] .skin-background{
    color: #dce3ff;
    background-color: #3ad6eb;

}


/* end fixed menu */
/* start section */
section nav li {
  
    display: inline-block;
    padding: 20px;
  
}
section nav li a{
    text-decoration: none;
    color: #eee;
}
section nav li a.active{
    
    color: yellow;
}
section div{
    height: 1000px;
    background-color: #eee;
    margin-bottom: 10px;
    overflow: hidden;

}
section div h1{
    text-align: center;
}
.scroll-to-top{
    display: inline-block;
    padding: 5px 10px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
.popup{
  position: fixed;  
  width: 100%;
  height: 100%;
  top:0;
  background-color: #dfcbcbb2;
  z-index: 999;
  display: none;
}
.show-popup{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5%;
    position: absolute;
    top: 50%;
     margin-top: 20px;
    cursor: pointer;
    background-color:#dfcbcbb2 ;

}
.first{ left: 20px;}
   
.seconed{left:150px}

.popup .inner{
    width: 300px;
    height: 180px;
    position: fixed;
    top: 150px;
    left: 50%;
    margin-left: -160px;
    background-color: white;
    padding: 10px;
   
}
.popup .inner h2{
    padding-bottom: 5px;

}
.popup .inner p{
    border-top:1px solid #eee ;
    padding-top: 5px;
    line-height: 1.6;
}
.popup .inner button{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    margin-top: 20px;
  
}

.effct-button{
   
    position: relative;
    align-items: start;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    width: 140px;
    height: 40px;
    display: inline-block;
    

}
.effct-button-left{
    background-color:rgb(134, 236, 39) ;
    color: white;
    border: none;
    position: relative;
    border-radius: 5px;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    
}
.effct-button-top{
    background-color: #0e36b9;
    color: white;
    border: none;
    position: relative;
    border-radius: 5px;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    
}



.effct-button-left:hover :first-child{
 
  position: absolute;
  top:0;
  left:0;
  width:0%; 
  height:100%; 
  background-color:  #5aff0e;; 
  z-index: 1;

}
.effct-button-top:hover :first-child{
 
    position: absolute;
    top:0;
    left:0;
    height: 0;
    width:100%; 
    background-color: rgb(0, 26, 255); 
    z-index: 1;
  
  }

 .effct-button-left  span:last-child ,.effct-button-top  span:last-child{
    z-index: 2;
    position: relative;
  
} 
.effct-button-side{
    
    background-color: white;
    color: #0e36b9;
    border: 0;
    
    position: relative;
   
    overflow: visible; 
    width: 100%;
    height: 100%;
    
}
.effct-button-side:hover :first-child{
 
    position: absolute;
    bottom: -5px;
    left:0;
    height: 5px;
    width:0; 
    background-color: rgb(0, 26, 255); 
    z-index: 1;
  
  }
  .effct-border-top{
    
    background-color: white;
    color: #0e36b9;
    border: 0;
    
    position: relative;
   
    overflow: visible; 
    width: 100%;
    height: 100%;
    
}
  .effct-border-top :first-child{
    position: absolute;
    top:0;
    left:-5px;
    width: 4px;
    height: 0;
    background-color: rgb(0, 26, 255); 
    z-index: 1;

  }

  .positon{
    position: absolute;
    top: 66%;
    overflow: hidden;
  }

.progress-animated{
    width: 400px;
    height: 20px;
    background-color: #f8faff;
  
    border-radius: 2px;
    margin-left: 2px;
    overflow: hidden;

}
.progress-animated span{
    display: block;
    width: 0%;
    height: 100%;
    color: #eee;
 
  
}
.progress-red span{
    background-color: red;
}
.progress-blue span{
    background-color: #3498db;
}
.progress-amethylest span{
    background-color: #8E44AD;
}

/*  gallary  */
.images{
    margin-top:300px ;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    overflow: hidden;
   

 
}
.images .image-1{
    height: 300px;
    width: 700px;
   padding-bottom: 0; 
   margin-bottom: 0;
   position: relative;
}
.images .image-1 i{
    padding: 12px 15px; 
   position: absolute;
   top: 0;
   z-index: 2;
   cursor: pointer;

}
 .images .image-1 .fa-chevron-left{
   left: 0;
  } 
  .images .image-1 .fa-chevron-right{
   right: 0;
  } 
  


.images .image-1 img{
 height: 100%;
 width: 100%;
 
}

.themes{
    width: 700px;
}


.themes-1{
 
   height: 100px;
    float: left;
    width: 20%;


  }
  
  .themes-1{
 
    height: 100px;
    float: left;
    /* width: 19.6%; */
    cursor: pointer;
  
   }
 
 .themes-1 img{
    width: 100%;
    height: 100%;
    border: 3px solid #BBB;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.6;

  }
  .selected{
    border: 3px solid #e63b3b !important; 
    opacity: 1 !important;
  }


/*  products  */
.products{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height: 250px;
}
.product{
    width: 45%;
    float: left;
    background-color: #fff;
    padding: 8px 5px;
   
}
.product:first-child{
    margin-right: 10px;
}
.product .header{
    padding-bottom: 2px;
    padding-top: 2px;
}
.product .date {
    padding: 4px 0px;
    display: block;
}
.product i{
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #BBB;
    cursor: pointer;
}
.product .description{
    display: none;
    padding-bottom: 5px;
}
/* start items  */
.items.grid-system{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height: 250px;
  
}
.items{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height: 250px;
   

}
.items .view-option{

/* width: 50px;*/
height: 30px; 
overflow: hidden;


}
.items .view-option i{
    float: right; 
    margin-right: 5px;

}
.items .view-option i.active{
    
    color: #0e36b9;
}

.items.grid-system .item{
    width: 40%;
    float: left;
    background-color: #fff;
    padding: 8px 5px;
   
}
.items.grid-system .item.first{
    margin-right: 10px;
}
.items.grid-system .item .header{
    padding-bottom: 2px;
    padding-top: 2px;
}
.items.grid-system .item .date {
    padding: 4px 0px;
    display: block;
}
.items.grid-system .item i{
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #BBB;
    cursor: pointer;
}
.items.grid-system .item .description{
    display: none;
    padding-bottom: 5px;
}
/* list item */ 
.items.list-system{
   
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height: 250px;
    
   
}
.items.list-system .item{
    position: relative;
    width: 100%;
    background-color: white;
    height:40%;
   
    
}
.items.list-system .item img {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
   
}

 .items.list-system .item .header{
 position: absolute;
 left: 150px;
 top: 10px;
   
}
.items.list-system .item .date {
    display: block;
    position: absolute;
    top: 35px;

    left: 150px;
    color: #6a585896;
    font-size: 12px;
}
    
   

.items.list-system .item i{
    display: none;
  
}
.items.list-system .item .description{
   

    position: absolute;
    left: 150px;
    bottom: 20px;
} 

/* end items */

/*  start error message */
.error-message
{
 width: 300px;
 padding: 10px;
 position: fixed;
 right:-100%;
 background-color: red;
 height:auto;
 padding: 10px;
 color:white;
 text-align: center;
}
/* end error message */
/* our form */
.our-form{
    margin-top:10px ;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    overflow: hidden;

}
form{
    width:400px ;
    margin-left: auto;
    margin-right: auto;
  
   
}

.our-form input , .our-form textarea , .our-form .cuustom-file {
    width: 500px;
  
    padding: 10px   ;
    border: none;
    margin-bottom: 5px;
     margin: 5px 0; 
     outline: 0;
    
}
.our-form span:last-child{
    display: none;
}
.our-form textarea{
    padding-right: 18px;
}
.our-form input[type="submit"]{
   
   color: #0e3aff;
    text-align: center;
    background: white;
    padding:  10px 30px;
   
}
.our-form input[type="file"]{
  opacity: 0;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  left:0;
  z-index: 2;

}
.cuustom-file {
    background-color:white; 
    position: relative;
}
.cuustom-file span {
    display: inline-block;
    top:0;
    position: absolute;
    padding: 5px ;
    color: #928383;
   font-size: 13px;
    
}
.cuustom-file  .fa-upload{
    position: absolute;
    right: 5px;
    top:0;
    padding: 5px ;
    z-index: 1;
}


/* end form */
