*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,html{
   
    font-family:  Tahoma, sans-serif;
    /* padding-top: 60px;  */
}
section nav{
    background-color: black;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    position: fixed;
    width:100%;
   
    top:0;
}
section nav li {
  
    display: inline-block;
    padding: 20px;
  
}
section nav li a{
    text-decoration: none;
    color: #eee;
}
section nav li a.active{
    
    color: yellow;
}
section div{
    height: 400px;
    background-color: #eee;
    margin-bottom: 10px;
    text-align: center;
   
}